@use '../colors.scss' as *;
@use '../constants.scss' as *;

.league-page {
  padding-top: 32px;

  & .leagues-list {
    user-select: none;
    width: $min-width;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid 4px $color-bg-2;
    border-bottom-width: 0;
    background-color: $color-bg-2;

    &>* {
      padding: 16px;
      cursor: pointer;

      &.selected {
        background-color: $color-bg-1;
        transition: background 0.5s, color 0.5s;
      }

      &:hover {
        color: $color-info;
      }
    }
  }

  & .league-details {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .total-points {
      font-weight: bold;
      font-size: 20px;
    }

    & .grid-table {
      &> :not(:first-child) {
        &>.cell {
          border: solid $color-bg-3;
          border-width: 0 1px 0 2px;

          &:nth-child(4) {
            border-right: solid 2px $color-active-border;
          }
        }

        &.last-top>.cell:first-child {
          box-shadow: inset 0 -2px 0 0 $color-active-border;
        }
      }
    }
  }
}
