@use './colors.scss' as *;
@use './constants.scss' as *;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1em;

  color-scheme: light dark;
  color: $color-fg-1;
  background-color: $color-bg-1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: $color-fg-1;
  // text-decoration: inherit;

  &:hover {
    color: $color-info;
  }
}

body {
  overflow-y: scroll;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: calc(100vh - $header-size);
  padding-top: $header-size; /* Reserve space for fixed header */
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  color: $color-var-2;
}

h2 {
  color: $color-info;
}

table {
  text-align: center;

  border-collapse: collapse;
  border: none;
  & tr {
    height: 36px;
    &.link:hover {
      background-color: #ffffff10;
      & th {
        color: $color-info;
      }
    }
  }
  & th {
    font-weight: 400;
    border: none;
    padding: 4px 8px;
  }
  & thead {
    border: solid $color-active-border;
    border-width: 0 0 2px 0;
  }

  & tbody {
    & tr {
      // border: solid $color-bg-2;
      // border-width: 1px 0;
      &:nth-last-child(2n + 1) {
        background-color: $color-bg-2;
      }
    }
  }
}

.left {
  text-align: left;
}

.link {
  cursor: pointer;
}

.format--standard {
  color: $color-var-1;
}

.format--pioneer {
  color: $color-var-3;
}

.format--pauper {
  color: $color-var-5;
}

.format--legacy {
  color: $color-var-6;
}

.round--win {
  color: $color-win;
}

.round--draw {
  color: $color-draw;
}

.round--lose {
  color: $color-lose;
}

.round--bye {
  color: $color-bye;
}

.number {
  color: $color-number;
}

.date {
  color: $color-string;
}

// button {
//   border-radius: 8px;
//   border: 1px solid transparent;
//   padding: 0.6em 1.2em;
//   font-size: 1em;
//   font-weight: 500;
//   font-family: inherit;
//   background-color: #1a1a1a;
//   cursor: pointer;
//   transition: border-color 0.25s;

//   &:hover {
//     border-color: $primary-color;
//   }

//   &:focus,
//   &:focus-visible {
//     outline: 4px auto -webkit-focus-ring-color;
//   }
// }
