@use './colors.scss' as *;
@use './constants.scss' as *;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1em;

  color-scheme: light dark;
  color: $color-fg-1;
  background-color: $color-bg-1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: $color-info;
    text-decoration: underline;
  }
}

body {
  overflow-y: scroll;
  margin: 0;
  display: flex;
  min-width: $min-width;
  min-height: calc(100vh - $header-size - 32px);
  padding-top: $header-size; /* Reserve space for fixed header */
  padding-bottom: 32px;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  color: $color-var-2;
}

h2 {
  color: $color-info;
}

.grid-table {
  display: grid;

  & > * {
    & .cell {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px 8px;
      overflow: hidden;
      text-overflow: ellipsis;
      &.red-highlight {
        font-size: 20px;
        color: #ff4444;
        font-weight: bold;
      }
    }
  }

  &:not(.standard) > * {
    &:first-child .cell {
      font-weight: bold;
      border: solid $color-active-border;
      border-width: 0 0 2px 0;
    }
    & .cell {
      height: 36px;
      white-space: nowrap;

      &.is-truncated span {
        mask-image: linear-gradient(to right, black 80%, transparent);
      }

      &.left {
        justify-content: left;
      }
    }
    &:nth-last-child(2n + 1) .cell {
      background-color: $color-bg-2;
    }
    & > a:hover {
      &:has(a:hover) .cell {
        color: $color-fg-1;
      }
      &:not(:has(a:hover)) .cell {
        background-color: $color-bg-3;
      }
    }
  }
}

table {
  text-align: center;

  border-collapse: collapse;
  border: none;
  & tr {
    height: 36px;
    &.link:hover {
      background-color: #ffffff10;
      & th {
        color: $color-info;
      }
    }
  }
  & th {
    font-weight: 400;
    border: none;
    padding: 4px 8px;
  }
  & thead {
    border: solid $color-active-border;
    border-width: 0 0 2px 0;
  }

  & tbody {
    & tr {
      // border: solid $color-bg-2;
      // border-width: 1px 0;
      &:nth-last-child(2n + 1) {
        background-color: $color-bg-2;
      }
    }
  }
}

.left {
  text-align: left;
}

.link {
  cursor: pointer;
}

.format--standard {
  color: $color-var-1;
}

.format--pioneer {
  color: $color-var-3;
}

.format--pauper {
  color: $color-var-5;
}

.format--legacy {
  color: $color-var-6;
}

.format--draft {
  color: $color-var-2;
}

.format--sealed {
  color: $color-var-2;
}

.format--modern {
  color: $color-var-7;
}

.format--premodern {
  color: $color-var-4;
}

.format--commander {
  color: $color-var-8;
}

.round--win {
  color: $color-win;
}

.round--draw {
  color: $color-draw;
}

.round--lose {
  color: $color-lose;
}

.round--bye {
  color: $color-bye;
}

.number {
  color: $color-number;
}

.date {
  color: $color-string;
}

.grid-table.standard {
  font-size: 14px;
  font-family: sans-serif;
  color: black;
  background-color: white;
  text-align: center;
  & div {
    &:first-child div {
      font-weight: bold;
    }
    &:not(:first-child) {
      & div:nth-child(3),
      & div:last-child {
        text-align: left;
      }
    }
    & div {
      padding: 1px 4px;
      background-color: white;
      outline: 1px solid #00000020;
      // border: solid #00000020 1px;
      & img.active {
        border-color: black;
      }
      &.left {
        justify-content: left;
      }
    }
    &:nth-child(1) div {
      background-color: #f4b26b;
    }
    &:nth-child(2) div {
      background-color: #e4b8af;
    }
    &:nth-child(3) div {
      background-color: #f2cbca;
    }
    &:nth-child(4) div {
      background-color: #f2ddde;
    }
    & div:first-child {
      background-color: #e9f7ecff;
    }
  }
}
