@use '../../colors.scss' as *;
@use '../../constants.scss' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-width: $min-width;
  background: $color-bg-1;
  z-index: 100;
  display: flex;
  justify-content: center;
  height: $header-size;

  .header__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }

  .header__nav {
    display: flex;
    flex: 1;
  }

  .header__link {
    flex: 1 1 0;
    text-align: center;
    padding: 1rem 0;
    color: $color-fg-1;
    text-decoration: none;
    font-weight: 600;
    transition: background 0.5s, color 0.5s;
    border: none;
    background: $color-bg-2;

    &.active {
      background: $color-bg-1;
    }

    &:hover {
      color: $color-info;
    }
  }
}
